<div class="list row">
  
    <div class="col-md-12">
      <h4>Book List</h4>
  
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Editorial</th>
            <th scope="col" style="min-width: 150px;">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let book of books;">
            <th scope="row">{{book.id}}</th>
            <td><b>{{book.title}}</b></td>
            <td>{{book.editorial}}</td>
            <td>
              <button type="button" class="btn btn-danger" routerLink="/book/{{book.id}}">Edit</button>
              <button type="button" class="btn btn-warning" (click)="deleteBook(book.id)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
  
    </div>
  </div>